@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;500&display=swap');
/*the gretest show*/
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    font-size: 20px;
  

}
/*smaller device*/
@media  screen and(max-width:576px;) {
    .great-show{
        grid-template-columns: repeat(1, 1fr);
    }
section{
    grid-template-columns: repeat(1, 1fr);
   } 
footer{
    grid-template-columns: repeat(1, 1fr);
}
}
/*medium device*/
@media screen and (min-width: 577px), (max-width: 992px) {
   .great-show{
    grid-template-columns: repeat(1, 1fr);
   } 

   footer{
    grid-template-columns: repeat(1, 1fr);

}

}



.great-show{
    background-color: #161616;
    border-radius: 30px;
    width:70%;
    height: 646px;
    width: 1321px;
    margin-left: 50px;
    margin-top: 40px;
    display: flex;
}


.great-show img{
    height: 613px;
    width: 581px;
}
.first-part{
    margin:50px;
    padding:20px;

}
.link-type{
    color:white;
    text-decoration: none;
    background-color:#DD0000 ;
    border-radius: 10px;
    margin-top:30px;
    padding:16px 25px 16px 25px;
    font-weight: 700;   
}
/*transfer*/

.link-type-2{
    display:grid;
    justify-content: center;
    row-gap: 20px;
    background-color: #161616;
    height:350px;
    width:300px;
    margin:50px;
    border-radius: 15px;
    
}
.match{
    text-decoration: none;
    color:black;
    background-color: azure;
    margin-top: 30px;
    text-align: center;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    font-weight: 700;
}
.match-1{
    text-decoration: none;
    color:black;
    background-color:#DD0000;
    margin-top: 30px;
    text-align: center;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    font-weight: 700;
}
/*2nd part*/
.flex{
   display: flex;
   justify-content: center;
   
   
}    
   
.container-transfer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    width:70%;
    color: black;
    margin-top: 50px;
    
    
    

}
.images{
    padding-right:10px;
}


footer{
    background-color: black;
    text-align: center;
    height: 500px;


}
#goal h2{

padding-top: 100px;
padding-bottom: 40px;

}
#footer-contect{
    margin-top: 100px;
}
.contact{

text-decoration: none;
color: beige;
padding:40px;

}

